bleach==1.5.0
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
Keras==2.0.9
Markdown==2.6.9
numpy==1.13.3
protobuf==3.4.0
PyYAML==3.12
scipy==1.0.0
six==1.11.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc2
Werkzeug==0.12.2
